<!-- app/views/story_mailer/new_story_notification.html.erb -->
<p>Dhiman PR has published a new Story!: <%= @story.title %></p>
<p>Click here to read it: <%= link_to "Read Story", story_url(@story) %></p>

<div style="margin-top: 20px; font-size: 12px;">
  <p><%= link_to "Unsubscribe", @unsubscribe_url %></p>
</div>